* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";

  transition: all 0.5s;
}
:root {
  --main-color: #4275ff;
  --main-button-color: #4275ff;
  --background-color: #08044a;
  --border-color: #08044a;

  --secondary-font-color: #aeafc5;
}
/**
* Login Style 
*/
.center {
  text-align: center;
  padding-top: 30px;
}
.log-in {
  height: 100vh;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container {
  background: var(--background-color);
  border-radius: 10px;
  width: 90%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.left-side > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
}
.left-side > div > h1:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
  margin-top: 4rem;
}
.left-side > div > p {
  letter-spacing: 0px;
  color: var(--secondary-font-color);
  word-break: break-all;
  width: 69%;
  padding: 2;
  padding-bottom: 5%;
  padding-top: 1rem;
}

.logo {
  padding: 13%;
  font-weight: 400;
  font-size: 40px;
  font-style: oblique;
}

.left-side > div > h6 {
  color: white;
  margin: 0;
  margin-top: 13rem;
}
.left-side h6 span {
  font-size: 0.5rem;
  margin-left: 0px;
  padding-bottom: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.right-side {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  border-radius: 10px;
  height: 80%;
  width: 80%;
  background-color: #ffffff;
}

.login-card > div:first-child {
  display: flex;
  padding-top: 3%;
  padding-left: 5%;
  height: 10%;
}
.login-card > div:first-child > h1 {
  color: var(--background-color);
}

.login-card > form {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-card > form > div {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.login-card > form > div > label {
  font-family: "Montserrat";
  color: #888888;
  font-size: 13px;
  padding: 1% 1% 1% 2px;
}

.login-card > form > div > input {
  height: 40px;
  padding: 1%;
  border-radius: 6px;
  border: 2px #dfdfe8 solid;
}

.submit {
  background: var(--main-color);
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  display: inline-block;
  border: none;
  height: 30px;
  width: 120px;
  color: white;
  font-weight: bold;
}

.log-in .sign-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-up h6 {
  margin: 0;
  color: #434343;
  margin-right: 24px;
  font-size: 1rem;
  font-weight: normal;
}

.is-invalid {
  border: 0.1rem solid #ff000066;
}

.input-group-text {
  padding: 0 !important;
  border: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 1.2rem;
  cursor: pointer;
}
.contact-options {
  display: flex;
  flex-direction: column;
  height: 45%;
  padding: 4%;
  padding-left: 4%;
  padding-left: 10%;
  color: white;
  justify-content: space-evenly;
}

.contact-options > div {
  cursor: pointer;
  transition: all 0.2s;
  padding: 1%;
  display: flex;
  height: 50px;
  justify-content: start;
  align-items: center;
  width: 40%;
  padding-left: 1%;
  border-radius: 5.5px;
}
.selected-option {
  border-radius: 5.5px;
  border: 2px solid var(--main-button-color);
}

.contact-options > div:hover {
  border-radius: 5.5px;
  border: 2px solid var(--main-button-color);
}

.contact-options > div > i {
  color: var(--main-button-color);
  padding-right: 12px;
}
.social-buttons > a i {
  color: white;
}
.social-buttons > a > li:hover {
  background: #0c75ff;
}
.example-full-width {
  width: 100%;
}

/* Contact Form Css */
.contact-us-container {
  height: 100vh;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-card {
  background: var(--background-color);
  border-radius: 10px;
  width: 90%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-card-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-card-left > div:first-child {
  height: 30%;
  padding-top: 5%;
  padding-left: 10%;
}
.contact-card-left > div:first-child > h1 {
  color: white;
  margin: 0;
  margin-top: 50px;
}

.contact-card-left > div:first-child > p {
  letter-spacing: 0px;
  color: var(--secondary-font-color);
  padding-top: 3%;
  word-break: break-all;
  width: 42%;
}

.social-buttons {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 40%;
  margin-left: 40px;
}

.social-buttons > a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: centers;
}
.social-buttons > a > i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15;
  height: 15;
}

.social-buttons > a:hover {
  background: #0c75ff;
  border-radius: 50%;
}

.contact-card-right {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card-right > div {
  border-radius: 10px;
  height: 80%;
  width: 80%;

  background-color: #ffffff;
}
.contact-card-right > div > form {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-card-right > div > form > div {
  width: 100%;
}
.contact-card-right > div > form > div:first-child {
  display: flex;
  align-items: center;
  padding: 1%;
  justify-content: space-around;
}

.contact-card-right > div > form > div:first-child > div:first-child {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 40%;
}
.contact-card-right > div > form > div:first-child > div:last-child {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 40%;
}
.contact-card-right > div > form > div:first-child > div > label {
  font-family: "Montserrat";
  color: #888888;
  font-size: 13px;
  padding: 1% 1% 1% 2px;
}

.contact-card-right > div > form > div:first-child > div > input {
  height: 40px;
  padding: 1%;
  border-radius: 6px;
  border: 2px #dfdfe8 solid;
}

.contact-card-right > div > form > div:first-child > div > input:focus {
  outline: none;
  border-radius: 6px;
  border: 2px solid#1b7eff;
}
.contact-card-right > div > div {
  display: flex;
  padding-top: 3%;
  padding-left: 5%;
  height: 10%;
}
.contact-card-right > div > div > h1 {
  color: var(--background-color);
}

.contact-card-right > div > form > div:nth-child(2) {
  display: flex;
  align-items: center;
  padding: 1%;
  justify-content: space-around;
}

.contact-card-right > div > form > div:nth-child(2) > div:first-child {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 40%;
}
.contact-card-right > div > form > div:nth-child(2) > div:last-child {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 40%;
}
.contact-card-right > div > form > div:nth-child(2) > div > label {
  font-family: "Montserrat";

  color: #888888;
  font-size: 13px;
  padding: 1% 1% 1% 2px;
}

.contact-card-right > div > form > div:nth-child(2) > div > input {
  height: 40px;
  padding: 1%;
  border-radius: 6px;
  border: 2px #dfdfe8 solid;
}

.contact-card-right > div > form > div:nth-child(2) > div > input:focus {
  outline: none;
  border-radius: 6px;
  border: 2px solid#1b7eff;
}

.contact-card-right > div > form > div:nth-child(3) {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1% 6% 1% 6%;
}
.contact-card-right > div > form > div:nth-child(3) > label {
  font-family: "Montserrat";

  color: #888888;
  font-size: 13px;
  padding: 1% 1% 1% 2px;
}

.contact-card-right > div > form > div:nth-child(3) > textarea {
  padding: 1%;
  border-radius: 6px;
  border: 2px #dfdfe8 solid;
}

.contact-card-right > div > form > div:nth-child(3) > textarea:focus {
  outline: none;
  border-radius: 6px;
  border: 2px solid#1b7eff;
}
.contact-card-right > div > form > div:nth-child(4) {
  display: flex;
  justify-content: flex-end;
  padding-right: 6%;
  padding-top: 3%;
}

.contact-card-right > div > form > div:nth-child(4) > input {
  background: #0c75ff;
  width: 130px;
  height: 40px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
}
.contact-card-right > div > form > div:nth-child(4) > button {
  background: #0c75ff;
  width: 130px;
  height: 40px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .log-in img {
    top: 70px;
  }
  .log-in input {
    padding: 14px;
  }
  .log-in > .right-side {
    padding: 0 70px;
  }
  .log-in > .sign-up {
    top: 34px;
    right: 45px;
  }
}

@media screen and (max-width: 1440px) {
  .log-in label {
    margin-top: 0;
    font-size: 1.3rem !important;
  }
  .log-in svg {
    bottom: -400px;
    left: -200px;
  }
  .log-in .left-side h6 {
    bottom: 25px;
  }
  .log-in input {
    padding: 12px;
    font-size: 1.3rem !important;
  }
  .log-in h4 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .log-in svg {
    bottom: -400px;
    left: -150px;
  }

  .log-in .left-side h6 {
    bottom: 25px;
  }
  .log-in input {
    padding: 10px;
  }
  .log-in .right-side {
    padding: 0 40px;
  }
  .log-in .sign-up {
    top: 20px;
    right: 30px;
  }
  .log-in h4 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .log-in .right-side {
    width: 100%;
    justify-content: flex-start;
  }
  .submit {
    line-height: unset;
  }
  .log-in img {
    top: 20px;
    left: 20px;
    width: 29%;
  }
  .log-in .left-side {
    display: none;
  }
  .log-in.right-side {
    width: 100%;
    justify-content: flex-start;
    padding: 0 120px;
    padding-top: 150px;
  }
  .log-in .right-side img {
    display: inline-block;
  }
  .log-in input {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 500px) {
  .log-in .right-side {
    padding: 0 20px;
    padding-top: 160px;
  }
  .social-container > div > a > svg {
    margin-right: 6px !important;
    width: 15px !important;
    height: 15px !important;
  }
  .invalid {
    font-size: 1rem;
    margin-left: 15px;
  }
  .log-in .sign-up {
    top: 100px;
    right: calc(50% - 165px);
  }
  .log-in input {
    width: 100%;
    font-size: 1rem !important;
    padding: 0 5px !important;
  }
  .log-in .right-side {
    padding: 0 20px;
    padding-top: 160px;
  }
  .log-in .right-side img {
    left: calc(50% - 62px);
  }
}
@media screen and (max-height: 500px) {
  .log-in {
    height: unset;
    padding-bottom: 50px;
  }
  .log-in img {
    top: 20px;
    width: 29%;
  }
  .log-in .left-side {
    display: none;
  }
  .log-in .right-side {
    width: 100%;
    justify-content: flex-start;
    padding-top: 150px;
  }
  .log-in .right-side img {
    display: inline-block;
  }
}
